/* YourTasksPage.css */
.YourTasksPage {
    padding: 20px;
}

/* Task list container */
.TasksList {
    margin-top: 20px;
}

/* Individual Task Item */
.TaskItem {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
