/* default styles */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

/* left sidebar+main content + right sidebar */
.App {
  display: flex;
  height: 100vh; /* Full viewport height */
}

/* login screen */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f5f5f5;
  height: 100vh;
}

.login-container h1 {
  margin-bottom: 20px;
}

.login-container label {
  display: block;
  margin: 10px 0 5px 0;
}

.login-container input {
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.login-container button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 4px;
}

.login-container button:hover {
  background-color: #61dafb;
  color: black;
}

.error-text {
  color: red;
  margin-top: 10px;
}

/* left sidebar */
.sidebar {
  width: 200px;
  background-color: #282c34;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

/* left sidebur buttons */
.sidebar button {
  background: none;
  border: none;
  color: white;
  text-align: left;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  cursor: pointer;
}

.sidebar button.active {
  background-color: #61dafb;
  color: #000;
  font-weight: bold;
}

.sidebar button:hover {
  background-color: #3f4a50;
}

/* main content */
.main-content {
  flex: 1;
  background-color: #f5f5f5;
  padding: 20px;
  overflow-y: auto;
}

.main-content h1 {
  margin-top: 0;
}

/* job list */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* right sidebar */
.user-sidebar {
  width: 200px;
  background-color: #282c34;
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: black;
  /* color: white; */
}

.user-sidebar h3 {
  margin-top: 0;
  color: white;
}

.user-sidebar ul {
  margin: 0;
  padding: 0;
}

.user-sidebar li {
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}

/* This special class forces text to be black */
.currentUser {
  color: black !important; /* Ensure it overrides the parent 'white' */
}
